<style>
    .form-horizontal .control-label {
        width: 100px;
        text-align: left;
    }

    .col-md-offset-3 {
        margin-left: 5%;
    }
</style>

<div class="page-bar margin-bottom-20">
    <ul class="page-breadcrumb">
        <li>
            <a href="{:url('admin/index/index')}">后台首页</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>订单管理</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>发货</span>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
					<span class="caption-subject bold uppercase">
						发货
					</span>
                </div>
            </div>
            <div class="portlet-body form">
                <form method="post" action="" class="form-horizontal" enctype="multipart/form-data">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">快递公司</label>
                            <div class="col-md-9">
                                <input type="text" name="kdname" class="form-control input-medium">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">快递单号</label>
                            <div class="col-md-9">
                                <input type="text" name="kdorderNo" class="form-control input-medium">
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn yellow">确定</button>
                                <a href="javascript:;" onclick="javascript:history.back(-1);" class="btn red">返回</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function stateChange(id,state){
        if(confirm("确认发货？")){
            $.ajax({
                url: "{:url('stateChange')}",
                type: 'post',
                data:{
                    id:id,
                    state:state
                },
                success: function (x) {
                    location.url = "{:url('lists','state=3')}";
                }
            })
        }
    }
</script>