<script type="text/javascript" src="__JS__/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-datetimepicker/js/bootstrap-datetimepicker.zh-CN.js"></script>
<link href="__JS__/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>

<div class="page-bar margin-bottom-20">
    <ul class="page-breadcrumb">
        <li>
            <span>会员管理</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>交易记录</span>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">

            <div class="portlet-title">
                <div class="caption">
					<span class="caption-subject bold uppercase">
            		交易记录
          			</span>
                </div>

                <div class="actions">
                    <a href="javascript:history.back(-1);" class="btn red">返回</a>
                </div>
            </div>

            <div class="search">
                <form method="POST"  style="float: left;">
                    开始时间：<input type="text" class="form-control input-inline" id="starttime" name="starttime" value="{$starttime}" readonly>
                    &nbsp;&nbsp;&nbsp;
                    结束时间：<input type="text" class="form-control input-inline" id="endtime" name="endtime" value="{$endtime}" readonly>
                    &nbsp;&nbsp;&nbsp;
                    <input class="btn" name="search" type="submit" value="搜索" style="color:#fff;background:#217EBD;">
                    &nbsp;
                    <input class="btn yellow" name="submit" type="submit" value="全部导出" style="">
                </form>
            </div>
            <div style="clear:both;"></div>
            <div style="margin: 15px 0;">
                支付代理费：￥{:xiaoshu($data.money_a)}
                &nbsp;&nbsp;&nbsp;
                返佣收益：￥{:xiaoshu($data.money_b)}
                &nbsp;&nbsp;&nbsp;
                每天返现收益：￥{:xiaoshu($data.money_c)}
            </div>

            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th> ID </th>
                            <th> 昵称 </th>
                            <th> 金额 </th>
                            <th> 类型 </th>
                            <th> 时间 </th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name="$lists" id="r" key="i"}
                        <tr class='del{$r.id}'>
                            <td> {$i} </td>
                            <td> {$r.nickname} </td>
                            <td> {$r.type} {:xiaoshu($r.money)} </td>
                            <td> {$r.msg} </td>
                            <td> {$r.intime|date="Y-m-d H:i:s",###} </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#starttime").datetimepicker({
        format: 'yyyy-mm-dd',
        minView:'year',
        language: 'zh-CN',
        autoclose:true,
        todayBtn: true,
    }).on("click",function(){
        $("#starttime").datetimepicker("setEndDate",$("#endtime").val())
    });

    $("#endtime").datetimepicker({
        format: 'yyyy-mm-dd',
        minView:'year',
        language: 'zh-CN',
        autoclose:true,
        todayBtn: true,
        startDate:$("#starttime").val()
    }).on("click",function(){
        $("#endtime").datetimepicker("setStartDate",$("#starttime").val())
    });

    function del(id){
        if(confirm("确认要删除？")){
            $.ajax({
                url: "{:url('order_del')}",
                type: 'post',
                data:{
                    id:id
                },
                success: function (x) {
                    if(x == "succ"){
                        $(".del"+id).fadeOut(500);
                    }
                }
            })
        }
    }
</script>
