<div class="page-header navbar navbar-fixed-top">
	<div class="page-header-inner ">
	    	<div class="page-logo">
	        	<a href="{:url('admin/index/index')}">
	            	<img src="__IMG__/logo-big-white.png" alt="logo" class="logo-default" />
				</a>
	        	<div class="menu-toggler sidebar-toggler">
	                    <span></span>
	        	</div>
	     	</div>
		    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
		      	<span></span>
		    </a>
    		<!-- div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <span class="username username-hide-on-mobile"> 管理员 </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="page_user_profile_1.html">
                                    <i class="icon-user"></i> 个人中心 </a>
                            </li>
                            <li>
                                <a href="app_inbox.html">
                                    <i class="icon-envelope-open"></i> 我的邮件
                                    <span class="badge badge-danger"> 3 </span>
                                </a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                    <a href="{:url('admin/index/logout')}"><i class="icon-key"></i> 退出登录 </a>
                            </li>
                        </ul>
                    </li>
                </ul>
    		</div -->
	</div>
</div>