<table border="1">
    <thead>
        <tr>
            <th style="text-align:center">openid</th>
            <th style="text-align:center">订单id</th>
            <th style="text-align:center">第几单</th>
            <th style="text-align:center">五单之内是否成功过</th>
            <th style="text-align:center">错误金额</th>
            <th style="text-align:center">拼团单号</th>
            <th style="text-align:center">是否改为商家退款</th>
        </tr>
    </thead>
    <tbody>
        {volist name="$arr" id="r" k="k"}
        <tr>
            <td>
                {$key}
            </td>
        </tr>
        {php}print_r($r);{/php}
        {volist name="$r" id="v"}
        <tr>
            <td></td>
            <td>{$v.id}</td>
            <td>{$v.count}</td>
            <td>{$v.success}</td>
            <td>{$v.money}</td>
            <td>{$v.collageNo}</td>
            <td>{$v.store}</td>
        </tr>
        {/volist}
        {/volist}
    </tbody>
</table>