<style>
    input.paixu {
        width: 15px;
        height: 15px;
        text-align: center;
    }
</style>
<div class="page-bar margin-bottom-20">
    <ul class="page-breadcrumb">
        <li>
            <span>内容管理</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>商城商品</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>{$data.title} - 规格列表</span>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">

            <div class="portlet-title">
                <div class="caption">
					<span class="caption-subject bold uppercase">
                        {$data.title} - 规格列表
          			</span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided">
                        <a href="{:url('sub_add','catid='.$catid.'&id='.$id)}" class="btn btn-transparent blue btn-outline btn-sm active">
                            <i class="fa fa-plus-circle"></i> 添加规格
                        </a>
                    </div>
                </div>
            </div>

            <form action="" method="post">
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th width="50px"> ID </th>
                                <th width="100px"> 标题 </th>
                                <th width="100px"> 缩略图 </th>
                                <th width="80px"> 商品价格 </th>
                                <th width="80px"> 销量 </th>
                                <th width="120px"> 添加时间 </th>
                                <th width="100px"> 管理操作 </th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="$lists" id="r" key="i"}
                            <tr class='del{$r.id}'>
                                <td>{$i}</td>
                                <td>{$r.title}</td>
                                <td><img src="{$r.thumb}" style="height: 100px;"></td>
                                <td>{:xiaoshu($r.money)}</td>
                                <td>{$r.sales}</td>
                                <td>{$r.intime|date="Y-m-d H:i",###}</td>
                                <td>
                                    <a href="{:url('sub_edit','catid='.$catid.'&id='.$r.id)}" class="btn btn-xs blue">修改</a>
                                    <a onclick="del({$r.id})" class="btn btn-xs red">删除</a>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function del(id){
        if(confirm("确认要删除？")){
            $.ajax({
                url: "{:url('sub_del')}",
                type: 'post',
                data:{
                    id:id
                },
                success: function (res) {
                    if(res){
                        $(".del"+id).fadeOut(500);
                    }
                }
            })
        }
    }
</script>
